<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>상품목록</title>
  <style>
  </style>
</head>
<body>
<h3>상품목록</h3>
<div>
  <table>
    <thead>
    <tr>
      <th>상품번호</th>
      <th>상품명</th>
      <th>상품수량</th>
      <th>상품가격</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product :${all}">
      <td th:text="${product.pid}">1</td>
      <td><a href="" th:href="@{/products/{id}/detail(id=${product.pid})}" th:text="${product.pname}">1</a></td>
      <td th:text="${product.quantity}">1</td>
      <td th:text="${product.price}">1</td>
    </tr>
    </tbody>
  </table>
</div>
<div><button id="btnAdd"> 등록 </button>
  <button id="btnHome"> 메뉴</button></div>
<script>
    btnAdd.addEventListener('click', e=>{
      location.href = '/products/add';
    });
    document.getElementById('btnHome').addEventListener('click',e=>{
      location.href='/';
    });
  </script>
</body>
</html>